.hero-section {
  height: 80vh;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("https://images.unsplash.com/photo-1441986300917-64674bd600d8");

  background-size: cover;
  background-position: center;
}

.hero-section h1 {
  max-width: 700px;
}
.product-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
   transition:.4s;
}

.card {
  overflow: hidden;
}

.card:hover .product-image {
  transform: scale(1.05);
  transition: 0.3s;
}

.product-card{
    transition: .3s;
    cursor:pointer;
}

.product-card:hover{
    transform: translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.15);
}

.card-body{
    display:flex;
    flex-direction:column;
}

.card-body button{
    margin-top:auto;
}

.product-detail-image{
    border-radius:15px;
    transition:.4s;
}

.product-detail-image:hover{
    transform:scale(1.02);
}